<nav>
  <a class="button"
     routerLink="/usuarios"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Usuarios
  </a> |
  <a class="button"
     routerLink="/veiculos"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Veículos
  </a>
</nav>

<router-outlet></router-outlet>
